<div class="row">
    <div class="col-md-6">
        <div class="form-group">

            <select id="choices-multiple-remove-button" name="mymultiselect" data-live-search="true"
                class="selectpicker form-control form-control-lg" multiple placeholder="Seleciona las piezas">
                {% for pieza in serviciopiezas %}
                <option value="{{ pieza.id }}">{{pieza.piezas.name}}</option>
                {% endfor %}
            </select>



            <!-- <select id="piezas" name="mymultiselect" data-live-search="true"
                class="selectpicker form-control form-control-lg" multiple>
                <option disabled selected>Seleccionar piezas:</option>
                {% for pieza in serviciopiezas %}
                <option value="{{ pieza.id }}">{{pieza.piezas.name}}</option>
                {% endfor %}
            </select> -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <select class=" form-control form-control-lg" name="empleado" id="empleado">
                <option>Selecione un empleado</option>
                {% for empleado in empleados %}
                <option value="{{empleado.id}}">
                    {{empleado.name}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <select name="car_trabajo" data-live-search="true" id="car_trabajo" class="form-control"
                onchange="getCars()">
                <option>Selecione un tipo de trabajo</option>
                {% for trabajo in trabajos %}
                <option value="{{trabajo.id}}">
                    {{trabajo.name}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <select class="form-control" name="car_precio" id="car_precio" title="Precio">
            </select>
        </div>
    </div>
    <div class="col-md-6">

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">
                Enviar
            </button>
        </div>
    </div>
</div>