{% extends "layouts/base.html" %} {% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
{% endblock stylesheets %}


{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Registrar Productos</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="mb-0 text-muted">
                                            {% if msg %}
                                            <span class="text-danger">{{ msg | safe }}</span>

                                            {% endif %}
                                        </span>
                                        <form role="form" method="post" action="/productos/registrar">
                                            <div class="row">
                                                <div class="col-md-4 form-group">
                                                    <label>Producto</label>
                                                    <select class="form-control" name="producto" data-live-search="true"
                                                        id="producto">
                                                        <option value="none" selected disabled hidden>Productos</option>

                                                        {% for producto in productos %}
                                                        <option value={{producto.id}}>{{producto.name}}
                                                            {{producto.descrition}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label>Unidad</label>
                                                    <select class="form-control" data-live-search="true" name="cantidad"
                                                        id="cantidad">
                                                    </select>
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label>Cantidad</label>
                                                    <input type="number" name="cantidades" placeholder="Cantidad"
                                                        class="form-control">
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-primary">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12 pt-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>Productos en el invetario</h5>

                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Productos</th>
                                                <th>Cantidad. Ingr</th>
                                                <th>Cantidad. Vend </th>
                                                <th>Cantidad disponible</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for name, descrition, cantidad, stado in productos_vendidos %}
                                            <tr>
                                                <td>{{name}} {{descrition}}</td>
                                               
                                                <td>{{cantidad}}</td>
                                                
                                                <td>{{productos_vendidos[(name, descrition, cantidad, stado)]}}</td>
                                                
                                                <td>{{ cantidad - productos_vendidos[(name, descrition, cantidad, stado)] }}</td>

                                            
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->
                </div>
                <!-- [ collapse ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<script>
    $(document).ready(function () {
        $("#producto").selectpicker();

        $("#cantidad").selectpicker();

        function load_data(type, marca_id) {
            $.ajax({
                url: "/productos/carbrand",
                method: "POST",
                data: { type: type, marca_id: marca_id },
                dataType: "json",

                success: function (data) {
                    var html = "";
                    for (var count = 0; count < data.length; count++) {
                        html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
                    }
                    if (type == "carData") {
                        $("#producto").html(html);
                        $("#producto").selectpicker("refresh");
                    } else {
                        $("#cantidad").html(html);
                        $("#cantidad").selectpicker("refresh");
                    }
                }

            },
            );
        }

        $(document).on("change", "#producto", function () {
            var marca_id = $("#producto").val();
            load_data("carModeldata", marca_id);
        });
    });
</script>
{% endblock javascripts %}