{% extends "layouts/base.html" %} {% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!--[ Recent Users ] start-->
<div class="col-xl-12 col-md-12 mx-auto">
  <div class="card Recent-Users">
    <div class="card-header">
      <h5>Lista de Clientes</h5>
    </div>
    <div class="card-block px-0 py-3">
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            {% for cliente in clientes.items %}

            <tr class="unread">
              <td>
                <h6 class="mb-1">
                  {{ cliente.username }} {{ cliente.lastname }}
                </h6>
                <p class="m-0">{{ cliente.telefono }}</p>
              </td>
              <td>
                <h6 class="text-muted">
                  <i class="m-r-15"></i>Registrado el {{current_date_format(cliente.created) }}
                </h6>
              </td>
              <td>
                <a href="../cliente/ver/{{cliente.id}}" class="label theme-bg2 text-white">ver</a>
                {% if not cliente.vehiculos %}
                <form action="/cliente/delete/{{cliente.id}}" method="post" style="display: inline-block;">
                  <input type="submit" class="border-0 text-white label theme-red" value="Eliminar" role="button" style="cursor: pointer;">
                </form>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination mx-auto">
      <nav aria-label="Page navigation example ">
        <ul class="pagination">
          {% if clientes.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('cliente.cliente_all', page=clientes.prev_num) }}" aria-label="Previous">
              {{ '<<<' }} </a>
          </li>
          {% endif %} 
          {% for page in clientes.iter_pages() %} 
            {% if page %}
              {% if clientes.page == page %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('cliente.cliente_all', page=page) }}">
                  {{ page }}
                </a>
              </li>
              {% else %}
              <li class="page-item active">
                <span class="page-link">{{ page }}<span class="sr-only">(current)</span></span>
              </li>
              {% endif %} 
            {% endif %}
          {% endfor %} 
          {% if clientes.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('cliente.cliente_all', page=clientes.next_num) }}" aria-label="Next">
              {{ '>>>' }}
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
<!--[ Recent Users ] end-->

{% endblock %}